.aboutMe {
    padding: 110px 70px 50px 70px;
    background: #202020;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe__title {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
    width: 100%;
}

.aboutMe__article {
    width: 100%;
    display: grid;
    grid-template-areas:
        "A B"
        "C B";
    margin-top: 66px;
    gap: 45px;
    justify-content: space-between;
}

.aboutMe__description {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    grid-area: A;
}

.aboutMe__photo {
    max-height: 327px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    grid-area: B;
}

.aboutMe__name {
    padding: 0;
    margin: 0 0 16px 0;
    font-size: 50px;
    font-weight: 400;
}

.aboutMe__profession {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.aboutMe__about {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

}

.aboutMe__gitnub {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    grid-area: C;
    align-self: end;
}