.navigator-menu {
    display: flex;
    width: 520px;
    height: 100vh;
    background: rgba(32, 32, 32, 1);
    position: fixed;
    top: 0;
    right: 0px;
    flex-direction: column;
    align-items: center;
    padding-top: 159px;
    padding-bottom: 90px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease-in;
}

.navigator-menu_open_true {
    visibility: visible;
    opacity: 1;
}

.navigator-menu__button-close {
    position: absolute;
    right: 24px;
    top: 24px;
    background: none;
    border: none;
    background-image: url('../../images/Group.png');
    background-position: center;
    width: 22px;
    height: 22px;
    color: #FFF;
    opacity: 1;
    background-size: cover;
    cursor: pointer;
    opacity: 1;
    transition: transform 0.4s linear 0s;
}

.navigator-menu__button-close:hover {
    transform: rotate(90deg) scaleX(-1);
}

.navigator-menu_link {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
    transition: opacity 0.4s linear 0s;
}

.navigator-menu_link:hover {
    opacity: 0.6;
}


.navigator-menu_link_type_account {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    border: none;
    color: #FFF;
    height: 32px;
    width: 100px;
    background: #313131;
    border-radius: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s linear 0s;
    justify-content: center;
    display: flex;
    align-items: center;
}

@media (max-width: 520px) {
    .navigator-menu {
        width: 100%;
    }
}