.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
    justify-content: space-between;
    height: 100%;
}

.profile__form {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    height: 100%;
}

.profile__title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: auto;
    margin-top: 74px;
    padding: 0;
}

.profile__block-input {
    display: flex;
    flex-direction: row;
    width: 410px;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
    padding-top: 16px;
    padding-bottom: 16px;
}

.profile__title-input {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    align-items: center;
    white-space: nowrap
}

.profile__input {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    background: none;
    border: none;
    text-align: end;
    width: 100%;

}

.profile__block-input_type_end {
    border: none;
    padding-bottom: 0;
}

.profile__button-save {
    padding: 0;
    margin-bottom: 16px;
    background: none;
    border: none;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s linear 0s;
    margin-top: auto;
}

.profile__button-save:hover {
    opacity: 0.6;
}



.profile__button-go-out {
    background: none;
    border: none;
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s linear 0s;
    margin-bottom: 70px;
}

.profile__button-go-out:hover {
    opacity: 0.6;
}


@media (max-width: 420px) {
    .profile__title {
        margin-bottom: 80px;
        margin-top: 70px;

    }

    .profile__block-input {
        width: 260px;
    }

    .profile__button-save {
        margin-top: 350px;
        font-size: 12px;
    }

    .profile__button-go-out {
        font-size: 12px;
    }
}